*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    margin: none;
    background: linear-gradient(90deg, rgb(5, 0, 90) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
header h1, body{
    margin: 0;
}
h1{
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#futureDays{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.day{
    background-color: rgba(50,61,79,255);
    margin: 6%;
    color: white;
}
.day p{
    padding-left: 5%;
}
#previousSearches{
    display: grid;
    grid-template-rows: auto;
    padding-inline-start: 0px;
    border-top: 3px solid grey;
    
    margin: auto;
}
#leftDiv{
    margin-right: 30px;
    margin-left: 10px;
}
#rightDiv{
    width: 85%;
}
#today{
    border: 1px solid black
}
#search{
    margin-bottom: 10px;
}
.style{
    background-color: rgb(50, 61, 79) ;
    margin: 5px;
}
.style p{
    color: white;
    padding-left: 5%;
}
button{
    color: black;
    background-color: rgb(216, 215, 215);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
   
    padding: 7px 7px ;
}
button:hover{
    background-color: lightblue;
}
/* media query to change page layout on smaller screens */
@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    #rightDiv{
        margin: 20px 10px ;
        width: 95%;

    }
    header{
        width: 100%;
    }
  }
